#git rm -r --cached .
#git add .
#git commit -m "fixed commit"
*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.scvd

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/JLinkLog.txt
**/_viminfo
**/_vimtags
_build/
RTE/

## Segger Embedded Studio ##
*.jlink
**/ses/Output/

## Visual Studio Code ##
.vscode/

## HEX files ##
MKB316_HEX/

##STM##
*.dep
*.pdb
*.spy
*.stw
*.wdb
*.wed
*.xml
*.rej
*.lkf
*.sm8
*.s19
Release/
Debug/
